<section id = "page-top">
<h1>Skills#index</h1>
<p>Find me in app/views/skills/index.html.erb</p>
<br>

<%@skills_hash.each do |skill, users| %>

    <h4><%=skill%></h4>
    <ul>
    <%users.compact.each do |user|%>
      <li><%=link_to "#{user.name}", show_other_profile_path(user.id)%></li>
    <% end %>
  </ul>
    <br>
<% end %>
</section>
