<section id = "page-top">

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%=link_to "What I've been up to", show_profile_path, class: "btn btn-sm btn-success"%>

</section>
