<section id = "page-top">
<h1>VibeCodes#test_validating</h1>
<p>Find me in app/views/vibe_codes/test.html.erb</p>


TESTING REdemption

<%= form_tag vibes_redeem_path do %>
 <%= text_field_tag :code %>
 <%# f.input :cashed, as: :boolean, checked_value: true, unchecked_value: false %>
 <%=submit_tag%>
<% end %>
</section>
