@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "creative";
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,300,100italic,100,300italic,700,700italic,900);
html {
  overflow-y : scroll;
  overflow-x : hidden;
}
.center {
     float: none !important;
     margin-left: auto !important;
     margin-right: auto !important;
}

.anonymous_pro {
  font-family: 'Anonymous Pro', sans-serif;
}

.row {
  margin-left: 1em;
}

.jumbotron {
  padding: 2em ;
  padding-top: 3em;
  margin-bottom: 0px;
}

.searchbar {
  margin: 0 !important;
  padding: 0 !important;
}

.left-skills {
  border: 2px solid red;
  border-radius: 15px;
}

.row-layouts {
  // border: 1px solid blue;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
}

.row-layouts > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


.box-inside {
  border: 1px solid blue;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  a{
    padding: 0;
    margin: 0;
    background: black;
  }
}
.right-layout {
  // border: 2px solid pink;
  // border-radius: 15px;
}

#page-top {
  // border: 1px solid green;
  padding-bottom: 1em;
  padding-top: 2em;
}

.popout-top {
  border: 1px solid red;
  width: 100%;
}
