// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul, li {
  list-style-type: none;
  padding-left:0 !important;

}

#profile-pic{
    margin: 0 auto;
    padding: 1em;
    max-width: 200px;
    max-height: 200px;
}

em {
  font-weight: 700;
}
